/**{
  
  box-sizing: border-box;
  font-family:'Fira Mono', monospace;
  color:#14F074;

}
button{
  width: 100px;
  background-color: #000;
  
}

h1,h2{
    
    font-family: 'DotGothic16', sans-serif;
    text-align:center;
    
}

body {
    background-color:#000;
    margin:0;
    overflow:hidden;
    padding:0;
  }
  div {
    animation:colorPulse 5s infinite ease-in-out;
    font-family:'Fira Mono', monospace;
    width: 800px; margin: 0 auto;
    
  }
  div:before {
    animation:wave 10s infinite ease-in-out;
    content:"";
    height:20vh;
    left:0;
    opacity:.5;
    position:absolute;
    right:0;
    z-index:1;
  }
  
  div:after {
    background-image:linear-gradient(transparent, transparent 3px, #222);
    background-size:4px 4px;
    bottom:0;
    content:"";
    left:0;
    pointer-events:none;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
  }
  
  p:last-child:after {
    animation:blink 1s infinite;
    content:"_";
  }
  
  @keyframes colorPulse {
    0%, 100% {
      color:#0c0;
    }
    48%, 52% {
      color:#090;
    }
    50% {
      color:#060;
    }
  }
  
  @keyframes wave {
    0% {
      box-shadow:0 -10vh 20vh #0c0;
      top:-100vh;
    }
    48%, 52% {
      box-shadow:0 -10vh 20vh #090;
    }
    50% {
      box-shadow:0 -10vh 20vh #060;
    }
    100% {
      box-shadow:0 -10vh 20vh #0c0;
      top:200vh;
    }
  }
  
  @keyframes blink {
    50% {
      opacity:0;
    }
  }*/
  


h1,h2,h3,h4,h5,h6,p{
  color: black;
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control{
  border: 0 0 0 0;
}

.celda-fija{
  width: 190px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  margin: 0,0,0,0;
}

.tooltip-evento{
  position: absolute;
  background-color: white;
  color: black;
  padding: 6px 10px;
  border-radius: 5px;
  border:solid;
  font-size: 0.85rem;
  z-index: 1000;
  white-space: nowrap;
  pointer-events: none;
  transform: translate(10px, -10px);
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  max-width: 18rem;
}

.container-fijo{
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
}







